@import "variable";
.v-input {
  outline: none;
  height: 30px;
  line-height: 1;
  padding: 0 12px;
  background-color: #fff;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  border-radius: 3px;
  &:focus, &:active {
    border-color: #409eff;
  }
  &:disabled {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed;
  }
  &::-webkit-input-placeholder {
    color: #ccc;
  }
}
.v-input--required {
  border-color: $--color-danger;
}
.v-input__label {
  position: relative;
  .icon-close {
    position: absolute;
    right: 5px;
    top: 50%;
    font-size: 12px;
    transform: translate(0, -50%);
    color: #c0c0c0;
  }
  .label-text {
    margin-right: 8px;
  }
}