@import "variable";
.v-input {
  input {
    color: #606266;
    outline: none;
    border: none;
    line-height: 40px;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
    &::-webkit-input-placeholder {
      color: #ccc;
    }
    &.v-input__prefix {
      padding-left: 30px;
    }
    &.v-input__afterfix {
      padding-right: 30px;
    }
  }
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 200px;
  align-items: center;
  height: 40px;
  line-height: 1;
  background-color: #fff;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  border-radius: 3px;
  &.v-input__focues, &:active {
    border-color: #409eff;
  }
  &:disabled {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed;
  }
  .v-input__prepend, .v-input__append {
    display: flex;
    align-items: center;
  }
  .v-input__clear {
    color: #c3c3c3;
  }
  .prefixWrap {
    position: absolute;
    display: inline;
    vertical-align: middle;
    width: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    i {
      width: 100%;
      line-height: 40px;
    }
  }
}
.v-input--required {
  border-color: $--color--danger;
}
.v-input__disabled {
  input {
    background-color: #c0c0c030;
    cursor: not-allowed;
  }
}
.v-input__label {
  position: relative;
  .icon-close {
    position: absolute;
    right: 5px;
    top: 50%;
    font-size: 12px;
    transform: translate(0, -50%);
    color: #c0c0c0;
  }
  .label-text {
    margin-right: 8px;
  }
}