.v-select--wrap {
  position: relative;
  width: 200px;
}
.v-select__options {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 52px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 1px #ccc;
  li {
    line-height: 35px;
    padding-left: 15px;
    text-align: left;
    cursor: pointer;
    color: #606266;
    &:hover {
      background-color: #f5f7fa;
    }
    &.v-select__active {
      background-color: #f5f7fa;
      color: #66b1ff;
    }
  }
  .v-select__arrow {
    left: 50%;
    margin-left: -6px;
    position: absolute;
    top: -6px;
    right: -20px;
    border: 6px solid transparent;
    border-top-width:0 ;
    border-bottom-color: #666;
    width: 0;
    height: 0;
    &:after {
      content: '';
      position: absolute;
      margin-left: -6px;
      border: 6px solid transparent;
      border-top-width:0 ;
      border-bottom-color: #fff;
    }
  }
}